[project]
	description = Homework for SE group
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mikhail Wall (Mikelle)
[access "refs/for/refs/*"]
	read = group user/Mikhail Wall (Mikelle)
	push = group user/Mikhail Wall (Mikelle)
	label-Code-Review = -2..+2 group user/Mikhail Wall (Mikelle)
	label-Verified = -1..+1 group user/Mikhail Wall (Mikelle)
	rebase = group user/Mikhail Wall (Mikelle)
	removeReviewer = group user/Mikhail Wall (Mikelle)
	submit = group user/Mikhail Wall (Mikelle)
[access "refs/heads/*"]
	read = group user/Mikhail Wall (Mikelle)
	create = group user/Mikhail Wall (Mikelle)
	push = +force group user/Mikhail Wall (Mikelle)
	pushMerge = group user/Mikhail Wall (Mikelle)
[access "refs/tags/*"]
	push = +force group user/Mikhail Wall (Mikelle)
	pushTag = group user/Mikhail Wall (Mikelle)
	pushSignedTag = group user/Mikhail Wall (Mikelle)
